<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<style>
    .section-heading{color: black;, float:left;}
    .portfolio-caption{text-decoration: none;}
</style>

<body id="page-top">

<div th:replace="fragments/nav :: nav"></div>

<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <table class="table table-striped">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">DASHBOARD</h2>
                <a class="btn btn-primary" href="/dashboard/new" style="margin-top:20px;">
                    회의 생성</a>
            </div>

            <div class="row">
                <tbody>
                <tr th:each="joinMeeting : ${joinMeetings}">
                    <td>
                        <!--            가로 배열하려면 -> mb-lg-0-->
                        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                            <!-- Portfolio item 1-->
                            <div class="portfolio-item">
                                <div class="portfolio-caption-heading"></div>
                                <a class="portfolio-caption" th:href="@{/meeting/{id} (id=${joinMeeting.meeting.id})}">
                                    <div class="portfolio-caption-heading" th:text="${joinMeeting.name}">
                                        Threads</div>
<!--                                    <div class="portfolio-caption-subheading text-muted">Illustration</div>-->
                                </a>
                            </div>
                        </div>

                    </td>
                </tr>
                </tbody>
                <div class="col-lg-4 col-sm-6 mb-4">

                </div>
            </div>
        </div>
    </table>
</section>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>