<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body id="page-top">
<!-- nav-->
<div th:replace="fragments/nav :: nav"></div>


<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <table class="table table-striped">
        <thead>
        <tr>
            <!--                <th>회의명</th>-->
            <!--                <th></th>-->
        </tr>
        </thead>
    <div class="container">
        <div class="text-center">
            <div class="section-heading text-uppercase">DASHBOARD</div>
        </div>
        <div>
            <a class="btn btn-primary btn-xl" th:href="@{/dashboard/new/{id} (id=${memberId})}">
                회의 생성</a>
        </div>
        <div class="row">
<!--            가로 배열하려면 -> mb-lg-0-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <tbody>
                <tr th:each="meeting : ${meetings}">
                    <td>
                        <div class="portfolio-item">
                            <div class="portfolio-caption-heading"></div>
                            </a>
                            <div class="portfolio-caption" th:href="@{/meeting/{id} (id=${meeting.id})}">
                                <div class="portfolio-caption-heading" th:text="${meeting.name}">
                                    Threads</div>
                                <div class="portfolio-caption-subheading text-muted">Illustration</div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>

            </div>
            <div class="col-lg-4 col-sm-6 mb-4">

        </div>
    </div>
    </div>
    </table>
</section>

    <!-- footer -->
    <div th:replace="fragments/footer :: footer"/>
</body>
</html>