<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>회의명</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="meeting : ${meetings}">
                <td th:text="${meeting.name}"></td>
            </tr>
            </tbody>
            <a th:href="@{/dashboard/new/{id} (id=${memberId})}">회의 생성</a>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>