<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>COVIEW</h1>
        <p>
            <a class="btn btn-lg btn-secondary" href="/login">로그인</a>
            <a class="btn btn-lg btn-secondary" href="/create_account">회원가입</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container --></body>
</html>